

<form action="/subtract" method="post" accept-charset="utf-8">
	<input type="text" name="num1" value="" id="num1"> -
	<input type="text" name="num2" value="" id="num2">
	<input type="submit" value="Subtract">
</form>
